REACT_APP_PETFINDER_API_KEY=IIUk2gVvenS4lddkn3qeeM9OZI6GfhSvp86KwG24f3pIGytazO
REACT_APP_PETFINDER_CLIENT_SECRET=fW3yKuj0l8yVDU5mYfOEbkjg9NmnIYSRlwsf9Eg7
REACT_APP_FIREBASE_API_KEY=AIzaSyDpCse5YLZEEphJcxYhDw7faVtsFb4ONTg
REACT_APP_FIREBASE_AUTH_DOMAIN=purrfect-afadb.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=purrfect-afadb
REACT_APP_FIREBASE_STORAGE_BUCKET=purrfect-afadb.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=538816120389
REACT_APP_FIREBASE_APP_ID=1:538816120389:web:815647b90121c3dbff852c